/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
li{
	list-style-type: none;
	text-decoration: none;
	/* menhilangkan titik pada list */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color: #5DA7FE;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

html{
	font-family: 'open sans', sans-serif;
	box-sizing: border-box;
}

.panel{
	background-color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	/* untuk memberikan lengkungan pada pojok */

	padding: 15px 25px;
	width: 100%;
	max-width: 960px;
	/* untuk menatur max lebar */
}

.pricing-header{
	color: #888;
	letter-spacing: 1px;
	font-weight: 600;
	/* untuk mengatur ketebalan font */
	/* margin: 10px; */
}

.pricing-features{
	color: #015ff9;
	margin: 50px 0 25px;
}

.pricing-feature-item{
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 3;
	/* memeberi jarak antara font atas dan bawah */
	padding: 15px, 0;
	border-top: 1px solid rgb(158, 146, 146);
}
.pricing-feature-item:last-child{
	border-bottom: 1px solid #888;
}

.pricing-button{
	border: 1px solid #9dd1ff;
	border-radius: 10px;
	color: #348efe;
	display: inline-block;
	padding: 15px 35px;
	text-decoration: none;
	margin: 25px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.pricing-button.is-future{
	background-color: #015ff9;
	color: white;
}

.pricing-button:hover,
.pricing-button:focus{
	background-color: #5DA7FE;
	color: white;


.pricing-button.is-future:hover,
.pricing-button.is-future:focus{
	background-color: #5DA7FE;
	color: white;
}





.pricing-price{
	color: #016ff9;
	display: block;
	font-size: 32px;
	font-weight: 700;
}

